.sb_popup {
    background-color: #FFF;
    position: absolute;
    border: 1px solid #000;
    width: 302px;
}
#searchbar {
    overflow: hidden;
    input {
        width: 300px;
        font-size: 26px;
    }
    a {
        text-decoration: none;
        color: #000;
        font-size: 22px;
    }
    a:hover {
        text-decoration: underline;
    }
    .search_result {
     
    }
}