@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 60%;
  margin: auto auto;
}

nav {
  background-color: #2523ac;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 26px;
  width: 80%;
  margin: auto auto;
}

.navItem6 {
  margin-left: auto;
}

.navBar li {
  list-style: none;
  padding: 20px;
}

.navBar a {
  color: #FFF;
  text-decoration: none;
}

.navBar a:hover {
  text-decoration: underline;
}

.sort_alphabet {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}

.sort_alphabet a {
  color: #000;
  text-decoration: none;
  font-size: 26px;
}

.sort_alphabet a:hover {
  color: #333;
  text-decoration: underline;
}

.page_results {
  background-color: #CCC;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.page_results .page_result {
  border-bottom: 1px solid #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page_results a {
  text-decoration: none;
  color: #0000FF;
}

.page_results a:hover {
  text-decoration: underline;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup .popup_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5);
}

.popup .popup_inner {
  background-color: #FFF;
  position: fixed;
  width: 1000px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -250px;
}

.popup .popup_inner #popup_list {
  width: 80%;
  margin: auto auto;
}

.popup .popup_inner #popup_list li {
  list-style: none;
}

.popup .popup_inner #popup_list #popup_title {
  width: 100%;
}

.popup .popup_inner #popup_list #popup_description {
  width: 100%;
  resize: none;
}

.popup .popup_inner #popup_list .consoles {
  float: left;
  width: 50%;
}

.sb_popup {
  background-color: #FFF;
  position: absolute;
  border: 1px solid #000;
  width: 302px;
}

#searchbar {
  overflow: hidden;
}

#searchbar input {
  width: 300px;
  font-size: 26px;
}

#searchbar a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

#searchbar a:hover {
  text-decoration: underline;
}

